<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SORCH | Cadastrar</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link rel="stylesheet" href="/css/main.css">

  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
  
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            white_color: '#da373d',
            emphasis: '#322745',
            font_color: '#281F38',
          },
          fontFamily: {
            anton_sc: ["Anton SC", "sans-serif"],
          }
        }
      }
    }
  </script>
</head>
<body>
  <div class="flex justify-center items-center flex-col h-full">
    <div class="mb-16 font-bold text-emphasis font-anton_sc text-6xl">SORCH</div>
    
    <div class="flex flex-col w-full max-w-xs">
        <form class="flex flex-col gap-3 mb-14">
            <div class="flex flex-col">
                <label for="" class="text-font_color font-bold">Nome *</label>
                <input type="email" name="email" id="userName" class="h-11 pl-3 border-font_color border rounded-lg">
            </div>
            <div class="flex flex-col">
                <label for="" class="text-font_color font-bold">Data de nascimento *</label>
                <input type="text" name="dateBirth" id="userDateBirth" class="h-11 pl-3 border-font_color border rounded-lg">
            </div>
            <div class="flex flex-col">
                <label for="" class="text-font_color font-bold">Contato/WhatsApp *</label>
                <input type="text" name="contact" id="userContact" class="h-11 pl-3 border-font_color border rounded-lg">
            </div>
            <div class="flex justify-between">
                <div class="flex flex-col">
                    <label for="checkbox" class="text-font_color font-bold">Presença</label>
                    <input type="checkbox" name="checkbox" id="presence" class="checkbox-custom">
                </div>
                <div class="flex flex-col">
                    <label for="" class="text-font_color font-bold">Número</label>
                    <input type="number" name="numer" id="sortNumber" class="h-11 pl-3 border-font_color border rounded-lg">
                </div>
            </div>
        </form>
    
        <div id="registration" class="w-full h-11 flex justify-center items-center rounded-lg font-bold bg-black bg-emphasis text-white cursor-pointer mb-3">
          Cadastrar
        </div>
        <div>
            <a href="/views/painel.html" class="w-full h-11 flex justify-center items-center rounded-lg font-bold bg-trasparent text-font_color border border-emphasis cursor-pointer">
                Cancelar
            </a>
        </div>
    </div>
  </div>
</body>
<script src="/scripts/main.js"></script>
<script>
  /**
   * 
   *  REGISTRATION
   * 
   */

  async function registration(fullName, dateOfBirth, contact, drawNumber) {
      if(!fullName || !dateOfBirth || !contact)return;

      const user = {
          name: fullName,
          date_of_birth: dateOfBirth,
          contact: contact,
          presence: hasAfterPseudoElement($("#presence")),
          draw_number: parseInt(drawNumber),
      };

      await addNewParticipant(user);
  }


  /**
   * 
   *  EVENTS OF THE CLICK
   * 
   */

  $("#registration").on('click', () => {
    if( validarNome($("#userName")) ){

        registration($("#userName").val(), $("#userDateBirth").val(), $("#userContact").val(), $("#sortNumber").val()).then(()=>{
            window.location.href = '/views/painel.html';
        })
    }
  });
</script>
</html>