<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SORCH | Srteio</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/main.css">

  <script src="/scripts/conffeti.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />

  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            white_color: '#da373d',
            emphasis: '#322745',
            font_color: '#281F38',
          },
          fontFamily: {
            anton_sc: ["Anton SC", "sans-serif"],
          }
        }
      }
    }
  </script>
</head>
<body class="bg-[url('../images/bg-station.jpg')] bg-cover">
    <div class="headerSorteio flex justify-center items-center flex-col mt-10">
        <div class="flex justify-between w-full px-16 mb-16">
          <a href="./painel.html" class="flex items-center">
            <span class="material-symbols-outlined text-start">
              arrow_back_ios
            </span>
          </a>

          <div class="relative">
              <span id="openHistorySorteio" class="material-symbols-outlined text-3xl pr-2 cursor-pointer">
                right_panel_open
              </span>

              <div id="historySorteio" class="hidden absolute top-0 right-0 w-56 border border-black rounded-md overflow-hidden">
                <div class="flex justify-between items-center border border-b-black px-2">
                    <p>Histórico</p>

                    <span id="closeHistorySorteio" class="material-symbols-outlined text-3xl cursor-pointer">
                        left_panel_open
                      </span>
                </div>

                <div id="listHistory" class="max-h-[500px] overflow-x-hidden px-2 bg-white">
                    
                </div>
              </div>
          </div>
         
        </div>
      </div>

  <div class="box flex justify-center items-center flex-col">
    
    <div class="flex flex-col w-full max-w-xs lg:max-w-full">

        <div class="w-full text-center">
            <span id="nameSorteado" class="text-2xl font-bold lg:text-6xl">Semana Jovem!!</span>
        </div>
    
        <div id="sortear" class="w-full h-11 flex justify-center items-center rounded-lg mt-56 font-bold bg-trasparent text-font_color border border-emphasis cursor-pointer lg:hidden">
            Sortear
          </div>
    </div>
  </div>
</body>

<script>
    // const nomes = [
    //     {
    //         id: 0,
    //         name: "John Doe",
    //     },
    //     {
    //         id: 2,
    //         name: "Peter Jones",
    //     },
    //     {
    //         id: 3,
    //         name: "Mary Smith",
    //     },
    //     {
    //         id: 4,
    //         name: "David Williams",
    //     },
    //     {
    //         id: 5,
    //         name: "Elizabeth Brown",
    //     },
    //     {
    //         id: 6,
    //         name: "James Miller",
    //     },
    //     {
    //         id: 7,
    //         name: "Anna Johnson",
    //     },
    //     {
    //         id: 8,
    //         name: "Robert Thompson",
    //     },
    // ];

    const url = 'https://api-sorch.onrender.com/api/persons';

    function getPresentParticipants() {
        try{
            let result = null;

            $.ajax({
                url: url + "/present",
                method: 'GET',
                dataType: 'json',
                async: false,
                success(res){
                    result = res;
                }
            });

            return result;
        } catch(error){
            console.log(error);
        }
    }


    /*
     * CONFFETI
     * 
     * */
    
    function start(){
        setTimeout(function() {
            confetti.start()
        }, 10);
    }

    function stop(){
        setTimeout(function() {
            confetti.stop()
        }, 2000);
    }
    
    async function openHistory(){
        $("#openHistorySorteio").addClass("hidden");
        $("#historySorteio").removeClass("hidden");
    } 

    async function closeHistory(){
        $("#historySorteio").addClass("hidden");
        $("#openHistorySorteio").removeClass("hidden");
    }

    async function create_list_history(){
        if(!nomesSorteados.length)return;

        nomesSorteados.forEach(person => {
            $("#listHistory").append(person.name);
        })
    }

    /*
     * 
     SORTEIO
     * 
     * */
    const nomes = getPresentParticipants();
    const nomesSorteados = [];

    let currentName = null;
    let currentIndice = null;
    let sorteando = false;

    function atualizarNumero() {
        const indice = Math.floor(Math.random() * nomes.length);

        if(nomes.length){
            const nome = nomes[indice].name;
            currentName = nomes[indice];
            currentIndice = indice;
            
            document.getElementById("nameSorteado").innerHTML = nome;
        } else {
            document.getElementById("nameSorteado").innerHTML = "A lista de presença está vazia!!";
        }
    }

    function startSorteio() {
        if (!sorteando) {
            sorteando = true;
            intervalo = setInterval(atualizarNumero, 50);
            setTimeout(pararSorteio, 10000);
        }
    }

    function pararSorteio() {
        clearInterval(intervalo);
        start();
        stop();
        nomesSorteados.push(currentName);
        nomes.splice(currentIndice, 1);
        $("#listHistory").append(`<div class="border-b-2 border-b-slate p-1">${currentName.name}</div>`);
        sorteando = false;
    }


    /*
     * 
     FULL SCREEN 
     * 
     * */
    function toggleFullScreen() {
        if (!document.fullscreenElement) {
            enterFullScreen();
        } else {
            exitFullScreen();
        }
    }

    function enterFullScreen() {
        if (document.documentElement.requestFullscreen) {
            document.documentElement.requestFullscreen();
            hideHeaderSorteio();
        } else if (document.documentElement.webkitRequestFullscreen) {
            document.documentElement.webkitRequestFullscreen();
            hideHeaderSorteio();
        } else if (document.documentElement.mozRequestFullScreen) {
            document.documentElement.mozRequestFullScreen();
            hideHeaderSorteio();
        } else {
            alert("Seu navegador não suporta tela cheia.");
        }
    }

    function exitFullScreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
            showHeaderSorteio();
        } else if (document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
            showHeaderSorteio();
        } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
            showHeaderSorteio();
        } else {
            alert("Seu navegador não suporta tela cheia.");
        }
    }


    function hideHeaderSorteio(){
        $('.headerSorteio').addClass("hidden");
    }

    function showHeaderSorteio(){
        $('.headerSorteio').removeClass("hidden");
    }

    $("#closeHistorySorteio").on('click', () => {
        closeHistory();
    });

    $("#openHistorySorteio").on('click', () => {
        openHistory();
    });

    $("#sortear").on('click', () => {
        startSorteio();
    });
    
    $(document).keydown(function(e) {
        if (e.keyCode === 32) {
            startSorteio();
        }
    });

    document.addEventListener('fullscreenchange', function() {
        if (!document.fullscreenElement) {
            exitFullScreen();
        }
    });

    $(document).on('click dblclick', function(e) {
        if (e.type === 'dblclick') {
            toggleFullScreen();
        }
    });

</script>
</html>