.border-white_color {
    --tw-border-opacity: 1;
    border-color: theme('colors.white_color');
  }
  .border-emphasis {
    --tw-border-opacity: 1;
    border-color: theme('colors.emphasis');
  }
  .border-font_color {
    --tw-border-opacity: 1;
    border-color: theme('colors.font_color');
  }

  .box{
    height: calc(100dvh - 164px);
  }

  .checkbox-custom {
    width: 1.5rem; /* Ajuste a largura conforme necessário */
    height: 1.5rem; /* Ajuste a altura conforme necessário */
    appearance: none;
    background-color: #fff;
    border: 2px solid #322745;
    border-radius: 0.25rem;
    display: flex;
    position: relative;
    cursor: pointer;
  }
  .checkbox-custom:checked {
    background-color: #322745;
  }
  .checkbox-custom:checked::after {
    content: '';
    position: absolute;
    left: 0.4rem;
    width: 0.5rem;
    height: 1rem;
    border: solid #fff;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
  }